.skills{
  padding: 5rem 3rem 0 3rem;
  display: flex;
  height: 90vh;
  margin-bottom: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.myskills{
  display: flex;
  flex-direction: column;
  position:relative;
  flex:1;
}

.myskills > :nth-child(1){
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

.myskills > :nth-child(2){
  color: var(--navy);
  font-size: 18px;
  margin-top: 1.4rem;
}

.s-button{
  margin-top: 1rem;
}

.cards{
  flex:1;
  position: relative;
}

.cards>*{
  position: absolute;
}
