.skills{
  padding: 5rem 3rem 0 3rem;
  display: flex;
  height: auto;
  margin-bottom: 2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.myskills{
  display: flex;
  flex-direction: column;
  position:relative;
  flex:1;
}

.myskills > :nth-child(1){
  color: var(--black);
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  color: var(--black);
  margin-bottom: 0rem;
}

.myskills > :nth-child(2){
  color: var(--gray);
  font-size: 18px;
  margin-top: 1.4rem;
}

.s-button{
  margin-top: 1rem;
}

.s-blur1{
  margin-top: 16rem;
}

.cards{
  flex:1;
  position: relative;
}

.cards>*{
  position: absolute;
}

@media screen and (max-width: 759px) {
  .skills{
    margin-top: 1rem;
    margin-bottom: 15rem;
    flex-direction: column;
    gap: 5rem;
    height: auto;
    padding: 0;
  }

  .cards{
    display: flex;
    flex-direction: column;
    gap: 12rem;
  }

  .cards >*{
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .s-blur1{
    display: none;
  }
}

@media only screen 
  and (min-device-width: 760px) 
  and (max-device-width: 1024px)
  and (orientation: portrait)  
  and (-webkit-min-device-pixel-ratio: 1) {

    .skills{
      padding: 0rem 0rem 0 3rem;
      height: auto;
      margin-bottom: 2rem;
    }

    .myskills{
      margin-left: -3rem;
    }

    .cards{
      transform: scale(0.5);
      margin-left: -3rem;
    }

    .s-blur1{
      margin-top: 13rem;
    }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .skills{
      margin-bottom: 10rem;
      gap: 5rem;
      height: auto;
      padding: 0;
    }

    .cards{
      transform: scale(0.7);
      margin-left: -8rem;
    }

  }
